apiVersion: apps/v1
kind: Deployment
metadata:
  name: member-deployment
  namespace: aline
  labels:
    aline.component: member
spec:
  replicas: 1
  selector:
    matchLabels:
      aline.component: member
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        aline.component: member
    spec:
      containers:
      - name: member
        image: lyndasm/aline-member
        ports:
          - containerPort: 80
        resources:
          limits:
            cpu: "500m"
            memory: "1Gi"
          requests:
            cpu: "200m"
            memory: "512Mi"
      restartPolicy: Always
