apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    aline.service: member
  name: member
spec:
  replicas: 1
  selector:
    matchLabels:
      aline.service: member
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        aline.service: member
    spec:
      containers:
      - name: member
        image: lyndasm/aline-member
        ports:
          - containerPort: 80
        resources:
          limits:
            cpu: "500m"
            memory: "1Gi"
          requests:
            cpu: "200m"
            memory: "512Mi"
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    aline.service: member
  name: member
spec:
  ports:
    - name: member-port
      port: 3007
      targetPort: 80
  selector:
    aline.service: member