**.DS_Store
**db-data/
login.py
**venv/
**aline-kconfig.yaml
config.yaml
**config.yaml
my-config/
*notes/
aline-account-microservice/
aline-bank-microservice/
aline-card-microservice/
aline-transaction-microservice
aline-underwriter-microservice/
aline-user-microservice/

aline-gateway/

aline-admin-portal/
aline-landing-portal/
member-dashboard/