version: "3.8"

x-variables: &variables
  DB_USERNAME: ${DB_USERNAME}
  DB_PASSWORD: ${DB_PASSWORD}
  DB_HOST: ${DB_HOST}
  DB_PORT: ${DB_PORT}
  DB_NAME: alinedb
  APP_SERVICE_HOST: host.docker.internal
  ENCRYPT_SECRET_KEY: ${ENCRYPT_SECRET_KEY}
  JWT_SECRET_KEY: ${JWT_SECRET_KEY}

x-react-variables: &react-variables
  REACT_APP_API: http://gateway:${GATEWAY_PORT}/api

services:
  # Database
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: alinedb
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - ${DB_PORT}:${DB_PORT}
    # networks:
    #   - backend

  # Angular
  member:
    build:
      context: ./member-dashboard
      dockerfile: ../Dockerfile.angular
    ports:
      - ${MEMBER_PORT}:${MEMBER_PORT}
    # networks:
    #   - frontend
    environment:
      - PORT=${MEMBER_PORT}

  # React
  admin:
    build:
      context: ./aline-admin-portal
      dockerfile: ../Dockerfile.react
    ports:
      - ${ADMIN_PORT}:${ADMIN_PORT}
    # networks:
    #   - frontend
    environment:
      <<: *react-variables
      PORT: ${ADMIN_PORT}

  landing:
    build:
      context: ./aline-landing-portal
      dockerfile: ../Dockerfile.react
    ports:
      - ${LANDING_PORT}:${LANDING_PORT}
    # networks:
    #   # - frontend
    environment:
      <<: *react-variables
      PORT: ${LANDING_PORT}

  # Maven Projects
  gateway:
    build:
      context: ./aline-gateway
      dockerfile: ../Dockerfile.maven
    ports:
      - ${GATEWAY_PORT}:${GATEWAY_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: .
      APP_PORT: ${GATEWAY_PORT}
      TARGET: ./target
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${GATEWAY_PORT}/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  account:
    build:
      context: ./aline-account-microservice
      dockerfile: ../Dockerfile.maven
    depends_on:
      - mysql
    ports:
      - ${ACCOUNT_PORT}:${ACCOUNT_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: ./account-microservice
      APP_PORT: ${ACCOUNT_PORT}
      TARGET: ./aline-account-microservice/account-microservice/target

  bank:
    build:
      context: ./aline-bank-microservice
      dockerfile: ../Dockerfile.maven
    depends_on:
      - mysql
    ports:
      - ${BANK_PORT}:${BANK_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: ./bank-microservice
      APP_PORT: ${BANK_PORT}
      TARGET: /aline-bank-microservice/bank-microservice/target

  card:
    build:
      context: ./aline-card-microservice
      dockerfile: ../Dockerfile.maven
    depends_on:
      - mysql
    ports:
      - ${CARD_PORT}:${CARD_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: ./card-microservice
      APP_PORT: ${CARD_PORT}
      TARGET: /aline-card-microservice/card-microservice/target

  transaction:
    build:
      context: ./aline-transaction-microservice
      dockerfile: ../Dockerfile.maven
    depends_on:
      - mysql
    ports:
      - ${TRANSACTION_PORT}:${TRANSACTION_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: ./transaction-microservice
      APP_PORT: ${TRANSACTION_PORT}
      TARGET: /aline-transaction-microservice/transaction-microservice/target

  underwriter:
    build:
      context: ./aline-underwriter-microservice
      dockerfile: ../Dockerfile.maven
    depends_on:
      - mysql
    ports:
      - ${UNDERWRITER_PORT}:${UNDERWRITER_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: ./underwriter-microservice
      APP_PORT: ${UNDERWRITER_PORT}
      TARGET: /aline-underwriter-microservice/underwriter-microservice/target

  user:
    build:
      context: ./aline-user-microservice
      dockerfile: ../Dockerfile.maven
    depends_on:
      - mysql
    ports:
      - ${USER_PORT}:${USER_PORT}
    # networks:
    #   - backend
    environment:
      <<: *variables
      APP_DIR: ./user-microservice
      APP_PORT: ${USER_PORT}
      TARGET: /aline-user-microservice/user-microservice/target

volumes:
  db-data:

# networks:
#   default:
#     name: aline_default
#     driver: overlay
#     attachable: true
#   frontend:
#     name: aline_frontend
#     driver: overlay
#     attachable: true
#   backend:
#     name: aline_backend
#     driver: overlay
#     attachable: true
